.flex {
    display: flex;
    gap: 20px;
}

.grid {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

span {
    justify-self: center;
}

.bottom {
    align-items: flex-end;
}

.button {
    justify-self: end;
}